:root {
    --red: #ff2e63;
    --blue: #08d9d6;
    --black: #252a34;
    --white: #eaeaea;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: #fff;
    overflow-x: hidden;
    font-family: 'Roboto', sans-serif;
}


/** Menu de navegación **/